doctype html
html
    head
        title Canvas Game
        block meta
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        block script
            script(src='/lib/js/jquery.min.js')
            script(src='/main.js')
        block style
            link(rel='stylesheet', href='/index.css')
    body
        block body
