doctype html
html
    head
        title Canvas Game
        block meta
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
            link(rel='manifest', href='/manifest.webmanifest')
        block script
            script(src='/lib/js/jquery.min.js')
            script(src='lib/js/popper.min.js')
            script(src='/lib/js/bootstrap.min.js')
            script(src='/lib/js/mdb.min.js')
            script(src='/lib/js/signalr.min.js')
            script(src='/lib/js/FileSaver.min.js')
        block style
            link(rel='stylesheet', href='/lib/css/bootstrap.min.css')
            link(rel='stylesheet', href='/lib/css/mdb.min.css')
    body
        block body
