extends layout/head

append script
  script(src='/js/game.js')

append style
  link(rel='stylesheet', href='/index.css')

block body
  canvas#game-canvas.img-fluid
  div#pause-indicator
    div.row
      div.col-md-10.col-sm-8
      div.col-md-2.col-sm-4.level-selector.card.card-body.unselectable
        h4.card-title Paused
        h5.card-text Levels
        ul.list-group.list-group-flush#level-selector