extends layout/head

append script
  script(src='/js/game.js')

append style
  link(rel='stylesheet', href='/index.css')

block body
  canvas#game-canvas.img-fluid
  h1.flex-center.unselectable#pause-indicator Loading...
