extends layout/head
include layout/mixins

append script
  script(src='/js/game.js')

append style
  link(rel='stylesheet', href='/index.css')

block body
  canvas#game-canvas
  svg#matrix-provider(style='display:none')
  div.control-pause
    i.fa.fa-pause#control-pause
  div.controls#controls
    div.row
      div.col-4
        i.fa.fa-caret-left#control-left
      div.col-4
        i.fa.fa-caret-up#control-up
        i.fa.fa-caret-down#control-down
      div.col-4
        i.fa.fa-caret-right#control-right
  div.row
    div.col-lg-2.col-md-4
      div#level-editor-menu.card.unselectable(style='display:none;padding:15px')
        h4.card-title Level Editor Menu
        div.card-subtitle
          button#editor-export.btn.btn-sm.btn-indigo Export level
          button#editor-new-level.btn.btn-sm.btn-info New Level
        div.card-body
          button#editor-new-sprite.btn.btn-sm.btn-info New sprite
          button#editor-new-living-sprite.btn.btn-sm.btn-info New living sprite
          button#editor-new-structure.btn.btn-sm.btn-info New structure
        hr
        div#editor-general
          +levelEditorHeader("Level settings", "general")
          +levelEditorOptionReadonly("Level id", "level-id")
          +levelEditorOption("Level name", "level-name")
          +levelEditorOption("Background image URL", 'level-bg')

        div#editor-sprite
          +levelEditorHeader("Sprite", "sprite")
          +levelEditorOption("Sprite image URL", "sprite-img")
          +levelEditorOptionBool("Solid", "sprite-solid")
          +levelEditorOptionCoord("Sprite spawn point", "sprite-initial")
        
        div#editor-living-sprite
          +levelEditorHeader("Living sprite", "living-sprite")
          +levelEditorOption("Sprite image URL", "living-sprite-img")
          +levelEditorOptionBool("Solid", "living-sprite-solid")
          +levelEditorOptionCoord("Sprite spawn point", "living-sprite-initial")
          +levelEditorOptionTextarea("Sprite logic (JS)", "living-sprite-logic")

        div#editor-structure
          +levelEditorHeader("Structure", "structure")
          +levelEditorOption("Structure image URL", "structure-img")
          +levelEditorOptionBool("Solid", "structure-solid")
          +levelEditorOptionCoord("Structure position", "structure-pos")
          +levelEditorOptionWidthHeight("Structure width & height", "structure-wh")

        div#editor-player
          +levelEditorHeader("Player", "player")
          +levelEditorOptionCoord("Player spawn point", "player-initial")
          +levelEditorOptionTextarea("Player logic (JS)", "player-logic")


    div.col

    div.col-lg-2.col-md-4
      div#pause-indicator.card.unselectable(style="padding:15px")
        h2.card-title Canvas Game
        div.card-subtitle
            h4
              | Paused 
              i.fa.fa-play#control-resume
        hr
        h5.card-text#editor-character-dropdown Character options
          i.pull-right.fa.fa-angle-left#editor-character-dropdown-icon
        div#editor-character
          div.card-body.btn-group
            button.btn.btn-sm.btn-success(type='button', id='editor-character-set') Apply
            button.btn.btn-sm.btn-danger(type='button', id='editor-character-reset') Reset
          +levelEditorOption("Player name", "player-name")
          +levelEditorOptionPlaceholder("Player image URL", "player-img", "Using default image")
        h5.card-text Levels
        ul.list-group.list-group-flush#level-selector
        button.card-text.btn.btn-indigo#level-editor-toggle(data-toggle="button", aria-pressed="false", autocomplete="off") Level Editor
        div.card-body#editor-list
          hr
          h5 Level objects
          h6#editor-list-player Player
          h7 Sprites
          ul.list-group.list-group-flush#editor-list-sprite
          h7 Structures
          ul.list-group.list-group-flush#editor-list-structure