extends layout/head

append script
  script(src='/js/game.js')

append style
  link(rel='stylesheet', href='/index.css')

block body
  div.view
    canvas#game-canvas.img-fluid
    div.flex-center.unselectable#pause-indicator
      h1 Paused
